{{ form_start(form) }}
<h2 class="mt-5">Ajouter un message :</h2>
    {{ form_row(form.description) }}
<div class="mb-3 mt-3">
    <input type="submit" class="btn btn-success" value="Ajouter un message">
</div>
{{ form_end(form) }}
