<form method="post" action="{{ path('tag_delete', {'slug': tag.slug}) }}" onsubmit="return confirm('Voulez vous supprimer ce tag ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
